In [169]:
import pandas as pd

corn_path = 'datasets/corn.csv'
gold_path = 'datasets/gold.csv'
oil_path = 'datasets/oil.csv'
dow_path = 'datasets/dow.csv'
twitter_path = 'datasets/twitter.csv'
micro_path = 'datasets/MSFT.csv'

corn = pd.read_csv(corn_path)
gold = pd.read_csv(gold_path)
oil = pd.read_csv(oil_path)
dow = pd.read_csv(dow_path)
twitter = pd.read_csv(twitter_path)
microsoft = pd.read_csv(micro_path)

#REMOVE MISSING VALUES FROM OIL DATASET
missing_index = oil[oil['DCOILWTICO'] == '.'].index
oil = oil.drop(missing_index)

#REMOVE MISSING VALUES GOLD DATASET
missing_index = gold[gold['GOLDAMGBD228NLBM'] == '.'].index
gold = gold.drop(missing_index)

corn = corn[::-1]
corn = corn.reset_index()
del corn['index']
twitter

            Date  sentiment_score
0     2013-04-02         0.120448
1     2013-04-03         0.163889
2     2013-04-04         0.140000
3     2013-04-05         0.125506
4     2013-04-06         0.082677
5     2013-04-07         0.023904
6     2013-04-08         0.044000
7     2013-04-09         0.008000
8     2013-04-10         0.084000
9     2013-04-11         0.064000
10    2013-04-12         0.076305
11    2013-04-13         0.050167
12    2013-04-14         0.081818
13    2013-04-15         0.100000
14    2013-04-16         0.045267
15    2013-04-17         0.074000
16    2013-04-18         0.098000
17    2013-04-19         0.062000
18    2013-04-20         0.117391
19    2013-04-21         0.108108
20    2013-04-22         0.100279
21    2013-04-23         0.069892
22    2013-04-24         0.070000
23    2013-04-25         0.102669
24    2013-04-26         0.119904
25    2013-04-27         0.107623
26    2013-04-28         0.025907
27    2013-04-29         0.131841
28    2013-04-30         0.133470
29    2013-05-01         0.075980
...          ...              ...
1064  2016-03-02         0.101493
1065  2016-03-03         0.198113
1066  2016-03-04         0.116580
1067  2016-03-05         0.004149
1068  2016-03-06         0.057971
1069  2016-03-07         0.091106
1070  2016-03-08         0.202000
1071  2016-03-09         0.200957
1072  2016-03-10         0.123570
1073  2016-03-11         0.164306
1074  2016-03-12         0.008511
1075  2016-03-13         0.119617
1076  2016-03-14         0.124000
1077  2016-03-15         0.078000
1078  2016-03-16         0.111380
1079  2016-03-17         0.149485
1080  2016-03-18         0.170782
1081  2016-03-19         0.029197
1082  2016-03-20         0.082353
1083  2016-03-21         0.075067
1084  2016-03-22         0.115625
1085  2016-03-23         0.042216
1086  2016-03-24         0.058000
1087  2016-03-25         0.050000
1088  2016-03-26        -0.130000
1089  2016-03-27         0.081169
1090  2016-03-28         0.063679
1091  2016-03-29         0.029340
1092  2016-03-30         0.142000
1093  2016-03-31         0.126000

[1094 rows x 2 columns]

In [170]:
import re

months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

# for i,v in corn.iterrows():
#     corn['Date'] = 's'

def getMonth(target, l_months):
    
    for i,v in enumerate(l_months):
        if v == target:
            if (i+1) < 10:
                return '0' + str(i+1) 
            else:
                return str(i+1)
            
def reformatDate(old_date, l_months):
    

    new_date = re.split('\s', old_date)
    new_date[1] = new_date[1].strip(',')
    
    year = new_date[2]
    month = getMonth(new_date[0], l_months)
    day = new_date[1]
    
    d = year + '-' + month + '-' + day
    
    return d

corn['Date'] = corn.apply(lambda row : reformatDate(row['Date'], months), axis=1) 
corn.shape

(774, 7)

In [168]:
# import re

# def getMissingDates(source_df, key):

#     available_days = source_df[key].values
#     missing_dates = []

#     for i,v in enumerate(available_days):

#         #for index out of range error
#         if(i < len(available_days)-1):

#             #re.split = [year, month, day], get day from it, make it int, store it in today, today = int(day)
#             today = int(re.split(r'-',v)[2])
#             tomorrow = int(re.split(r'-',available_days[i+1])[2])

#             #if next day is greater than today (for month detection)
#             if (today < tomorrow) :

#                 #check if next day value is exactly 1 greater than today's
#                 if(today != tomorrow - 1):
#                     count = 1
#                     while count < (tomorrow - today):
#                         date_array = re.split(r'-',v)

#                         #make 1 into 01
#                         if(int(date_array[2]) < 10):
#                             day = '0' + str(today + count)
#                         else:
#                             day = str(today+count)

#                         date = date_array[0] + '-' + date_array[1] + '-' + day
#                         missing_dates.append(date)
#                         count += 1
#     return missing_dates

In [171]:

def syncDates(df1, df2, k1, k2):
    
    for i,v in enumerate(df1[k1].values):
        if (v not in df2[k2].values):
            missing_index = df1[df1[k1] == v].index
            df1 = df1.drop(missing_index) 

    for i,v in enumerate(df2[k2].values):
        if (v not in df1[k1].values):
            missing_index = df2[df2[k2] == v].index
            df2 = df2.drop(missing_index) 
    return df1, df2
            
print(gold.shape)
gold, oil = syncDates(gold, oil, 'DATE', 'DATE')
#gold, corn = syncDates(gold, corn, 'DATE', 'Date')
gold, dow = syncDates(gold, dow, 'DATE', 'Date')
gold, twitter = syncDates(gold, twitter, 'DATE', 'Date')
twitter, oil = syncDates(twitter, oil, 'Date', 'DATE')
twitter, dow = syncDates(twitter, dow, 'Date', 'Date')
twitter, corn = syncDates(twitter, corn, 'Date', 'Date')
twitter, microsoft = syncDates(twitter, microsoft, 'Date', 'Date')

print('Gold: ', gold.shape)
print('Oil: ', oil.shape)
print('Corn: ', corn.shape)
print('Dow: ', dow.shape)
print('Twitter: ', twitter.shape)

(759, 2)
Gold:  (742, 2)
Oil:  (742, 2)
Corn:  (742, 7)
Dow:  (742, 7)
Twitter:  (742, 2)

In [4]:
# def removeMissingDates(missing_dates, target_df, key):
    
#     for i,v in enumerate(missing_dates):
#         missing_index = target_df[target_df[key] == v].index
#         target_df = target_df.drop(missing_index)
        
#     return target_df

# gold_missing = getMissingDates(gold,'DATE')
# oil = removeMissingDates(gold_missing, oil, 'DATE')
# corn = removeMissingDates(gold_missing,corn, 'Date')
# dow = removeMissingDates(gold_missing,dow, 'Date')
# twitter = removeMissingDates(gold_missing,twitter, 'Date')

# oil_missing = getMissingDates(oil, 'DATE')
# gold = removeMissingDates(oil_missing, gold, 'DATE')
# corn = removeMissingDates(oil_missing,corn, 'Date')
# dow = removeMissingDates(oil_missing,dow, 'Date')
# twitter = removeMissingDates(oil_missing,twitter, 'Date')


# corn_missing = getMissingDates(corn, 'Date')
# oil = removeMissingDates(corn_missing, oil, 'DATE')
# gold = removeMissingDates(corn_missing,gold, 'DATE')
# dow = removeMissingDates(corn_missing,dow, 'Date')
# twitter = removeMissingDates(corn_missing,twitter, 'Date')


# dow_missing = getMissingDates(dow, 'Date')
# gold = removeMissingDates(dow_missing, gold, 'DATE')
# corn = removeMissingDates(dow_missing,corn, 'Date')
# oil = removeMissingDates(dow_missing, oil, 'DATE')
# twitter = removeMissingDates(dow_missing,twitter, 'Date')



# oil['DCOILWTICO'] = oil['DCOILWTICO'].astype(float)
# gold['GOLDAMGBD228NLBM'] = gold['GOLDAMGBD228NLBM'].astype(float)
# dow['Adj Close'] = dow['Adj Close'].astype(float)
# corn['Price'] = corn['Price'].astype(float)

# print('Gold: ', gold.shape)
# print('Oil: ', oil.shape)
# print('Corn: ', corn.shape)
# print('Dow: ', dow.shape)
# print('Twitter', twitter.shape)

Gold:  (746, 2)
Oil:  (746, 2)
Corn:  (749, 7)
Dow:  (745, 7)
Twitter (794, 2)

In [166]:
corn_p = []
for i,v in enumerate(corn['Price'].values):
    corn_p.append(v)
    
oil_p = []
for i,v in enumerate(oil['DCOILWTICO'].values):
    oil_p.append(v)
    
gold_p = []
for i,v in enumerate(gold['GOLDAMGBD228NLBM'].values):
    gold_p.append(v)
    
dow_p = [] 
for i,v in enumerate(dow['Open'].values):
    dow_p.append(v)
    
twit_p = []
for i,v in enumerate(twitter['sentiment_score'].values):
    twit_p.append(v)
    
dates = []
for i,v in enumerate(gold['DATE'].values):
    dates.append(v)
    
data = pd.DataFrame({'Twitter' : twit_p, 'Gold' : gold_p, 'Oil' : oil_p, 'Corn' : corn_p, 'DOW' : dow_p, }\
                   , index = dates)
data
# data.to_csv('datasets/final_table.csv', index=True)
# microsoft.to_csv('datasets/microsoft.csv', index=False)

In [172]:
import matplotlib.pyplot as plt


oil.plot(kind='line', x='DATE', y='DCOILWTICO')
plt.show()

gold.plot(kind='line', x='DATE', y='GOLDAMGBD228NLBM')
plt.show()

corn.plot(kind='line', x='Date', y='Price')
plt.show()

dow.plot(kind='line', x='Date', y='Adj Close')
plt.show()

TypeError: Empty 'DataFrame': no numeric data to plot