In [4]:
#GET LIST OF DATES

import GetOldTweets3 as got
import pandas as pd
import re

def getDays(start, end_date):
    
    num_days = [0,31,28,31,30,31,30,31,31,30,31,30,31]
    days = [start]

    flag = 1
    while(flag):

        s_date = re.split('-',start)
        int_year = int(s_date[0])
        int_month = int(s_date[1])
        int_day = int(s_date[2])

        #Detect new year
        if(int_month == 12 and int_day == 31):
            end = str(int_year + 1) + '-01-01'
        #Detect end of month
        elif(int_day == num_days[int_month]):

            #Add 0 to months with 1 digit, i.e 04 for April instead of just 4
            if(int_month < 9):
                end = str(int_year) + '-0' + str(int_month+1) + '-01'
            else:
                end = str(int_year) + '-' + str(int_month+1) + '-01'
        #Middle of the month
        else:
            #Add 0 to months with 1 digit, i.e 04 for April instead of just 4
            if(int_month < 10):
                #Add 0 to days with 1 digit, i.e 04 for the fourth instead of just 4
                if(int_day < 9):
                    end = str(int_year) + '-0' + str(int_month) + '-0' + str(int_day + 1)
                else:
                    end = str(int_year) + '-0' + str(int_month) + '-' + str(int_day + 1)

            else:
                if(int_day < 9):
                    end = str(int_year) + '-' + str(int_month) + '-0' + str(int_day + 1)
                else:
                    end = str(int_year) + '-' + str(int_month) + '-' + str(int_day + 1)

        days.append(end)

        start = end

        if (end == end_date):
            flag = 0
    return days

In [5]:
#CREATE DICTIONARIES FOR POSITIVE AND NEGATIVE WORDS

with open('opinion-lexicon-English/opinion-lexicon-English/positive-words.txt', 'r') as f:
    
    positive_words = {'a':[]}
    
    last_letter = 'a'
    
    for line in f:
        word = line.strip()
        
        if word[0] == last_letter:
            positive_words[last_letter].append(word)
        else:
            last_letter = word[0]
            positive_words[last_letter] = [word]
        
with open('opinion-lexicon-English/opinion-lexicon-English/negative-words.txt', 'r') as f:
    
    negative_words = {'a':[]}
    
    last_letter = 'a'
    
    for line in f:
        word = line.strip()
        
        if word[0] == last_letter:
            negative_words[last_letter].append(word)
        else:
            last_letter = word[0]
            negative_words[last_letter] = [word]

In [6]:
def sentimentAnalysis(sentence, positive_words, negative_words):
    
    sentiment_score = 0
    p_count = 0    #count of positive words
    n_count= 0    #count of negative words    
    total_words = len(sentence)
    
    try:
        for index, word in enumerate(sentence):
            word = word.lower()
            for i, v in enumerate(positive_words[word[0]]):
                if word == v:
                    p_count += 1
            for i,v in enumerate(negative_words[word[0]]):
                if word == v:
                    n_count += 1

    
    except KeyError:
        pass
    
    #RETURN STUFF
#     if p_count > n_count:
#         return 1
#     elif p_count < n_count:
#         return -1
#     else:
#         return 0

    return p_count - n_count

sentence = ['this', 'is', 'A+', 'sentence','aBorted', "abort", 'abort']


sentimentAnalysis(sentence, positive_words, negative_words)

-2

In [7]:
import json
import pandas as pd
import matplotlib.pyplot as plt
    
days = getDays('2013-04-02', '2016-03-31')

data = pd.DataFrame(columns=['Date', 'sentiment_score'])
    
for i,v in enumerate(days):
    tweets = pd.read_csv('twitter_data/' + v + '.csv', encoding = "ISO-8859-1")
    
    num_tweets = tweets['Tweet'].shape[0]
    total_sentiment = 0
    
    
    for index, value in enumerate(tweets['Tweet']):
        total_sentiment += sentimentAnalysis(value.split(), positive_words, negative_words)
    
    s_score = total_sentiment/num_tweets
    
    data = data.append({'Date' : v, 'sentiment_score' : s_score}, ignore_index=True)
    
data

#plt.plot(data['Date'], data['sentiment_score'])

#data.to_csv('datasets/twitter.csv', index=False)

            Date  sentiment_score
0     2013-04-02         0.120448
1     2013-04-03         0.163889
2     2013-04-04         0.140000
3     2013-04-05         0.125506
4     2013-04-06         0.082677
5     2013-04-07         0.023904
6     2013-04-08         0.044000
7     2013-04-09         0.008000
8     2013-04-10         0.084000
9     2013-04-11         0.064000
10    2013-04-12         0.076305
11    2013-04-13         0.050167
12    2013-04-14         0.081818
13    2013-04-15         0.100000
14    2013-04-16         0.045267
15    2013-04-17         0.074000
16    2013-04-18         0.098000
17    2013-04-19         0.062000
18    2013-04-20         0.117391
19    2013-04-21         0.108108
20    2013-04-22         0.100279
21    2013-04-23         0.069892
22    2013-04-24         0.070000
23    2013-04-25         0.102669
24    2013-04-26         0.119904
25    2013-04-27         0.107623
26    2013-04-28         0.025907
27    2013-04-29         0.131841
28    2013-04-30         0.133470
29    2013-05-01         0.075980
...          ...              ...
1064  2016-03-02         0.101493
1065  2016-03-03         0.198113
1066  2016-03-04         0.116580
1067  2016-03-05         0.004149
1068  2016-03-06         0.057971
1069  2016-03-07         0.091106
1070  2016-03-08         0.202000
1071  2016-03-09         0.200957
1072  2016-03-10         0.123570
1073  2016-03-11         0.164306
1074  2016-03-12         0.008511
1075  2016-03-13         0.119617
1076  2016-03-14         0.124000
1077  2016-03-15         0.078000
1078  2016-03-16         0.111380
1079  2016-03-17         0.149485
1080  2016-03-18         0.170782
1081  2016-03-19         0.029197
1082  2016-03-20         0.082353
1083  2016-03-21         0.075067
1084  2016-03-22         0.115625
1085  2016-03-23         0.042216
1086  2016-03-24         0.058000
1087  2016-03-25         0.050000
1088  2016-03-26        -0.130000
1089  2016-03-27         0.081169
1090  2016-03-28         0.063679
1091  2016-03-29         0.029340
1092  2016-03-30         0.142000
1093  2016-03-31         0.126000

[1094 rows x 2 columns]